<!doctype html>
<html>
    <head>
        <title>File Upload and Download</title>
    </head>
    <body>
        <h1>Upload and Download Files</h1>
        <form method="post" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>
        <h2>Files:</h2>
        <ul>
            {% for file in files %}
            <li><a href="{{ url_for('download_file', filename=file) }}">{{ file
                    }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
